<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LeMinhQuang_21089141_lab3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>student</display-name>
    <servlet-name>student</servlet-name>
    <servlet-class>services.StudentServletResultForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudentServices</display-name>
    <servlet-name>RegisterStudentServices</servlet-name>
    <servlet-class>services.RegisterStudentServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudentServices</servlet-name>
    <url-pattern>/RegisterStudentServices</url-pattern>
  </servlet-mapping>
</web-app>